@font-face{
    font-family: "frutiger";
    src: url('http://cdn.myld.com.au/1/fonts/frutiger/Frutiger%20LT%2045%20Light.ttf') format("truetype");
}

@font-face{
    font-family: "frutiger";
    src: url('http://cdn.myld.com.au/1/fonts/frutiger/Frutiger%20LT%2065%20Bold.ttf') format("truetype");
    font-weight: bold;
}

body{
    font-family: "frutiger";
}
.btn:focus,
.btn:hover{
    background-color: #0077e6;
    border-color: none;
    color: white;
}

.well-outer{
    padding:20px;
}

.well-inner-top{
    padding:20px;
    margin:0px;
    margin-top:0px;
    margin-bottom:10px;
}

.well-inner-bottom{
    padding:20px;
    margin:0px;
    margin-top:10px;
    margin-bottom:0px;
}


/* navbar */
.navbar-default {
    background-color: white;
    border-style: solid;
    border: 0px;
    border-bottom: solid #0064b7 1px;
    padding: 0px;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #456;
    font-size: 130%;
    margin: 0px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #0077e6;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #0064b7;
    background-color: white;
    font-weight:bold;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;

}



/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
}

.content_centered {
    text-align: center;
}
.content_left {
    text-align: left;
}
.content_right {
    text-align: right;
}

.vertical_centered{
    vertical-align: bottom;
}

.well {
    border-color: #0064b7;
}

hr {
    border-color: #0064b7;
}

.btn{
    background: #0064b7;
    color: white;

}
.btn-sq{
    height:120px;
    width:120px;
    font-size: 150%;
    text-align: center;
}

.glyph-lg{
    font-size: 200%;
}

* {
    border-radius: 0 !important;
}

.modal-header{
    background: #0064b7;
    color: white;
}

.modal-footer{
    background: #0064b7;
    color: white;
}

input:invalid {
    border: 1px solid red;
}


#medProfileDiv{
    font-size: 130%;
}

.header-row{
    padding:5px 5px 0px;
}

.header-hr{
    margin:5px;
}

.bottom_vert{
    margin-top: 15px;

}

.add-butt{
    padding:0px;
    font-size: 170%
}

.blue-text{
    color:#0064b7;
}

.well{
    background: white;
}

.sidebar-left{
    background: #f7f9f9;
    position: absolute;
    top: 0;
    bottom: 0;  /*  this line, and the one above, confer full-height */
    left: 0;
    width: 15%;
}

.sidebar-right{
    background: #f7f9f9;
    position: absolute;
    top: 0;
    bottom: 0;  /*  this line, and the one above, confer full-height */
    right: 0;
    width: 15%;
}


